# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vim swap files
.*.sw*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pixi

# our NN models, and dataset (.pth)
*.model
*.model.pt
*.pth
